@charset "UTF-8";
/*Detalles gráficos
colores HEXA:
    coral: #FF7F50
    moccasin: #FFDEB5
    morado: #470147
    blanco: #FFFAFA
    black: #000000
*/
/* RESET: AFECTA TODAS LAS PAGINAS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Detalles gráficos 
tipografías:
    font-family: 'Righteous', cursive
    font-family: 'Kanit', sans-serif
*/
/* | TIPOGRAFÍA | */
@font-face {
  font-family: Righteous;
  src: url(../assets/fonts/Righteous-Regular.ttf);
}
@font-face {
  font-family: Kanit;
  src: url(../assets/fonts/Kanit-Italic.ttf);
}
.tituloEmpresa {
  margin: 1% 2%;
  font-size: 7.2rem;
  color: #470147;
}

h2, h4 {
  color: #470147;
  width: 100%;
  padding: 1%;
}

.btnNav, .navbar-nav li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0.08rem;
}

.btnGeneral, .listaTalles {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.288rem;
}

p {
  padding: 2%;
  width: 100%;
  letter-spacing: 0.288rem;
  font-weight: bold;
  text-align: justify;
  font-size: medium;
}

.shirt__info p {
  letter-spacing: 0.08rem;
}
.shirt__info p:last-of-type {
  text-align: center;
}

.carouselTitle {
  width: 75%;
}
.carouselTitle h2, .carouselTitle h4 {
  font-size: 3rem;
  text-align: center;
}

.shoppingT h2, .shoppingT h4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.288rem;
}

.secondRow h3 {
  font-size: large;
  letter-spacing: 0.08rem;
}

.sellRow div form input, .sellRow div form .boxContact textarea, .boxContact .sellRow div form textarea, .sellRow div form .boxContact select, .boxContact .sellRow div form select {
  width: 50%;
  text-align: center;
  background-color: #470147;
  color: #FFFAFA;
}
.sellRow div p {
  width: auto;
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.08rem;
}

.buying h4 {
  width: 80%;
  align-items: center;
  margin-left: 2%;
  font-size: large;
  text-transform: uppercase;
  letter-spacing: 0.288rem;
}

.purchase .purchase__total, .buying .purchase__total {
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 0.08rem;
  width: auto;
  text-align: right;
  margin: 1%;
}
.purchase .purchase__selling, .buying .purchase__selling {
  font-size: x-large;
  font-weight: bolder;
  letter-spacing: 0.288rem;
  width: auto;
  text-align: right;
}

.font__options {
  font-size: 2rem;
  font-variant-caps: petite-caps;
  letter-spacing: 0.08rem;
}

.contactBtn {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.288rem;
}

footer p {
  font-family: Kanit;
  color: #FFFAFA;
  font-weight: lighter;
}

/* | IMAGENES | */
.logoEmpresa {
  width: 6rem;
  height: 6rem;
}

.cont-img {
  position: relative;
  display: flex;
  justify-content: center;
}

.imgSize {
  width: 50rem;
  height: 84.5rem;
  box-shadow: 0 5px 15px 0 #000000;
}

.cont-img__h, .cont-img__m {
  width: 80%;
  height: auto;
  position: absolute;
  top: 75%;
  display: flex;
  flex-direction: column;
}
.cont-img__h h2, .cont-img__m h2, .cont-img__h h4, .cont-img__m h4 {
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #FF7F50;
}
.cont-img__h h2:hover, .cont-img__m h2:hover, .cont-img__h h4:hover, .cont-img__m h4:hover {
  color: #FFDEB5;
}
.cont-img__h p, .cont-img__m p {
  font-size: 2rem;
  text-transform: petite-caps;
  color: #FFFAFA;
  text-align: end;
}

.cont-img__m p {
  color: #470147;
}

.imgRopa {
  width: 22rem;
  height: 22rem;
}
.imgRopa:hover {
  transform: scale(1.7);
}

.sellRow div img {
  width: 16rem;
  height: 16rem;
}

/* | LOGOS | */
.logoCompra {
  margin: 5%;
  animation: desaparecer 4s;
}

@keyframes desaparecer {
  25% {
    animation-timing-function: ease-out;
    transform: translate(400%);
  }
  45% {
    transform: translate(400%);
  }
  60% {
    transform: translate(400%);
  }
  80% {
    animation-timing-function: cubic-bezier(0, 0, 0.6, 1);
    transform: rotate(-360deg);
    opacity: 0.2;
  }
  100% {
    animation-timing-function: linear;
    opacity: 0.8;
    transform: rotate(360deg);
  }
}
.logoEmpresa {
  border-radius: 50%;
  margin: 5%;
}
.logoEmpresa:hover {
  transform: translate(-43%, 28%);
}

.socialMedia a {
  margin: 1%;
  text-decoration: none;
}
.socialMedia svg:hover {
  transform: scale(2);
}

.payment img {
  margin-right: 0.5%;
}

/* | BOTONES | */
.btnGeneral, .listaTalles {
  background-color: #470147;
  color: #FFFAFA;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding: 0.5%;
}
.btnGeneral:hover, .listaTalles:hover {
  background-color: #FF7F50;
  color: #470147;
  border-color: #FFDEB5;
  box-shadow: 0 0 1.6rem #470147;
  border-radius: 0.7rem;
}

.listaTalles {
  text-align: center;
}

.upBtn {
  margin: 1%;
  padding: 3%;
  text-align: center;
}
.upBtn svg:hover {
  transform: scale(1.8);
}

.buying__a {
  width: 60%;
  height: 15%;
  margin: 1% 2%;
  color: #470147;
  text-align: center;
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  letter-spacing: 0.288rem;
}

/* ESTRUCTURAS GLOBALES */
body {
  font-size: 1.6rem;
  overflow-x: hidden;
  font-family: Righteous, sans-serif;
  background-color: #FFDEB5;
}

header {
  background-color: #FF7F50;
}

.backg-nav {
  background-color: #FF7F50;
}

.titleBox, .logoBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #470147;
  bottom: 0;
  margin-top: auto;
}

.delivery, .payment, .socialMedia, .createdBy {
  text-align: center;
  margin: 5% 2%;
}

/*AFECTA SECCION INDEX*/
.imageBox {
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.articleMan, .articleWoman {
  padding: 1%;
}

.aside-carl__cont-img {
  box-shadow: 0 5px 15px 0 #000000;
  margin-bottom: 3%;
}
.aside-carl__cont-img div img {
  object-fit: scale-down;
  height: 45vh;
  width: 100%;
}

/* AFECTA SECCIONES HOMBRES Y MUJERES */
.rowShirts {
  margin: 3% 1%;
  box-shadow: 0 0 0.96rem #FF7F50;
}

.shirt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  margin: 3%;
  padding: 1%;
}

.shirt__info {
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.shirt__info form {
  width: 100%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/* Seccion CARRITO*/
.carrito__fila {
  margin: 1%;
  padding: 2%;
  height: 11.2rem;
}

.secondRow {
  height: 6.4rem;
}
.secondRow .colItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.secondRow .colCant {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.secondRow .colSbt {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.sellRow {
  height: 24rem;
  box-shadow: 0 0 1.6rem #470147;
  margin: 3% 1%;
}

.lastRow {
  width: 100%;
  height: 32rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.columnA {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.columnB {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.columnB form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.columnC {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.purchase, .buying {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.buying {
  justify-content: space-evenly;
}

/* AFECTA SECCION CONTACTO*/
.contenedor-contacto {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "contacto mapa";
}

.formContacto {
  grid-area: contacto;
  margin: 2%;
}

.ubication {
  grid-area: mapa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

.ubication__map {
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px 0 #000000;
}

.boxContact {
  margin: 1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.boxContact input, .boxContact textarea, .boxContact select {
  width: 50%;
  margin: 0.5%;
  text-align: center;
}
.boxContact textarea {
  width: 80%;
}

.btnCajita {
  margin: 1%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.btnCajita input, .btnCajita .boxContact select, .boxContact .btnCajita select, .btnCajita .boxContact textarea, .boxContact .btnCajita textarea {
  width: 15%;
}

/* MEDIA QUERYS */
@media (max-width: 768px) {
  .editCarousel {
    width: 50%;
  }

  .rowShirts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .imgRopa {
    width: 13rem;
    height: 16rem;
  }

  .btnCompras {
    width: 35%;
    height: 28%;
    margin: 1%;
    color: #FFFAFA;
  }

  .columnB {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .columnB form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
  .columnB svg {
    width: 3rem;
    height: 10rem;
  }

  .boxContact input, .boxContact select, .boxContact textarea {
    width: 75%;
  }

  .btnCajita {
    margin: 2%;
    width: 75%;
  }
  .btnCajita input, .btnCajita .boxContact select, .boxContact .btnCajita select, .btnCajita .boxContact textarea, .boxContact .btnCajita textarea {
    width: 50%;
    margin: 1%;
  }
}
@media (max-width: 480px) {
  .editCarousel {
    width: 60%;
  }

  .colCarouselTitle h2, .colCarouselTitle h4 {
    width: 75%;
    font-size: large;
  }

  .shirt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .columnB form {
    width: 100%;
  }
  .columnB svg {
    width: 3rem;
    height: 3rem;
  }

  .contenedor-contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "contacto" "mapa";
  }

  .boxContact input, .boxContact select, .boxContact textarea {
    width: 75%;
  }

  .btnCajita {
    width: 75%;
  }
  .btnCajita input, .btnCajita .boxContact select, .boxContact .btnCajita select, .btnCajita .boxContact textarea, .boxContact .btnCajita textarea {
    width: 60%;
  }

  .payment {
    margin: 3% 0.5%;
  }
}

/*# sourceMappingURL=destino.css.map */
