/*Detalles gráficos
colores HEXA:
    coral #FF7F50
    moccasin #FFDEB5
    morado oscuro #470147
    blanco #FFFAFA
tipografías:
    font-family: 'Righteous', cursive;
    font-family: 'Kanit', sans-serif;
*/
@font-face {
    font-family: Righteous;
    src: url(../assets/fonts/Righteous-Regular.ttf); 
}
@font-face {
    font-family: Kanit;
    src: url(../assets/fonts/Kanit-Italic.ttf);
}
/*AFECTA TODAS LAS PAGINAS*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Righteous, sans-serif;
    background-color: #FFDEB5;
}
header{
    background-color: #FF7F50; 
}
.tituloEmpresa{
    margin-left: 2%;
    font-size: 4.5rem;
    color: #470147; 
}
.logoEmpresa, .logoCompra{
    margin:5%;
}
.titleBox, .logoBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar{
    background-color: #FF7F50 !important;
}
.navbar-nav li a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}
/*AFECTA SECCION INDEX*/
.imagenHombre, .imagenMujer{
    margin: 2%;
}
.imageBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*AFECTA SECCION HOMBRE y MUJER*/
.shirt{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4%;
    padding: 1%;
}
.shirt img{
    width: 220px;
    height: 250px;
}
.shirt__info{
    width: 50%;
    padding: 2%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: flex-start;
}
.shirt__info p{
    padding: 2%;
    width: 100%;
    letter-spacing: 25%;
    font-weight: bold;
    color: #470147;
    text-align: center;
}
.shirt__info form{
    width: 100%;
    margin-left: 4%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
.shirt__info form fieldset{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.shirt__info form fieldset label{
    margin: 0 10%;
}
.shirt__info form input, .shirt__info form select {
    height: 30%;
    width: 47%;
    padding: 0.6%;
    margin: 1%;
    background-color: #470147;
    color: #FFFAFA;
    font-size: 0.7rem;
    text-align: center;
}
.upBtn{
    padding: 5%;
    text-align: center;
}
.upBtn a{
    font-size: 1.5rem;  
}
/* Inicio CARRITO*/
.carrito__fila{
    padding: 5px;
    margin: 5px;
    height: 170px;
}
.carrito__fila div{
    padding: 5px;
    height: 200px;
}
.secondRow{
    height: 500px;
}
.shopping{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #470147;
    font-size: 2.5rem;
}
.purchase, .buying{
    border: 6px double #470147;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}
.purchase h2, .buying h4{
    color: #470147;
    width: 100%;
    padding: 1%;
}
.purchase__btn, .buying a{
    width: 70%;
    margin: 2%;
    text-align: center;
}

/*.bodyCarrito{
    height: 1600px;
}
.menuCarrito{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    " .   title  title   .   ."
    "item quantity subtotal   .   ."
    " .  .  .  purchase  purchase"
    " .  .  .  purchase  purchase"
    " .  buying  buying .  ."
    " .  buying  buying .  ."
    ;
    align-items: center;
    justify-items:center;
}

.item{
    grid-area: item;
}
.quantity{
    grid-area: quantity;
}
.subtotal{
    grid-area: subtotal;
}
.purchase{
    grid-area: purchase;
    width: 70%;
    height: 45%;
    border: 7px double #470147;
    background-color: #FF7F50;
    border-radius: 10%;
    position: relative;
}
.purchase__total{
    position: absolute;
    top: 5%;
    left: 7%;
    color: #470147;
}
.purchase__btn{
    font-weight: bold;
    width: 42%;
    height: 20%;
    border-radius: 15%;
    background-color: #470147;
    color: #FFFAFA;
    position: absolute;
    bottom: 10%;
    left: 50%;
}
.purchase__btn:hover{
    animation: growUp 5s;
}
@keyframes growUp{
    18%{
        width: 37%;
        height: 25%;
    }
    25%{
        background-color: #FFFAFA;
        color: #470147;
    }
    40%{
        transform: skew(50deg);
    }
    50%{
        transform: skew(-50deg);
    }
    75%{
        width: 37%;
        height: 25%;
        transform: translateX(-50%);
    }
    90%{
        transform: scale(-2);
    }
}
.buying{
    grid-area: buying;
    border: 5px double #FF7F50;
    border-radius: 15%;
    padding: 2.3%;
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.buying h4{
    width: 90%;
    height: 25%;
}
.buying a{
    width: 30%;
    height: 25%;
    margin: 2.3%;
    border-style: none;
    color: #470147;
    text-decoration: none;
}
/* MODIFICACIONES  CONTACTO*/
/*.contactMain{
    display: grid;
    grid-template-rows: repeat(3, 2fr);
    grid-template-areas:
    "form"
    "form"
    "map"
    ;
    align-items: center;
    justify-content: center;
}
.contactMain form{
    grid-area: form;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.ubication{
    grid-area: map;
}
.first, .second{
    width: 90%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 2%;
}
.first label, .second label{
    width: 50%;
    height: 20%;
}
.first input, .second input, .second select{
    width: 40%;
    height: 17%;
}
.message{
    width: 90%;
    height: 35%;
    display: flex;
    position: relative;
}
.message textarea{
    background-image: url(../assets/images/logo/cartag.jpg);
    background-size: contain;
    background-position: center;
    background-clip: content-box;
    background-attachment: scroll;
    font-weight: bold;
    font-variant-caps: petite-caps;
    letter-spacing: 1px;
    color: #FF7F50;
    width: 80%;
}
.clearButton{
    font-size: 1.2rem;
    width: 10%;
    height: 10%;
    font-weight: bold;
    color: #FFFAFA;
    background-color: #470147;
    position: absolute;
    top: 30%;
    right: 5%;
}
.sendButton{
    font-size: 1.2rem;
    width: 10%;
    height: 10%;
    font-weight: bold;
    color: #FFFAFA;
    background-color: #470147;
    position: absolute;
    top: 50%;
    right: 5%;
}
.clearButton:hover, .sendButton:hover{
    transition: all, 3s;
    background-color: #FFFAFA;
    color: #470147;
    transform: skew(22deg);
}
.ubication{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
/*Inicio FOOTER*/
footer{
    background-color: #470147;
    font-family: Kanit;
    color: #FFFAFA;
    bottom: 0;
    margin-top: auto;
}
footer p{
    letter-spacing: 0.7px;
    font-size: 1rem;
    font-weight: lighter;
}
.delivery, .createdBy{
    text-align: center;
    margin: 5% 2%;
}
.socialMedia, .payment{
    text-align: center;
    margin: 5% 2%;
}
.socialMedia a, .payment img{
    margin-right: 0.5%;
}
