// IMPORTAR
@import "colores";

// SECCION  NAV
.navbar-nav{
    li{
        a{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1rem;
        }
    }
}

// Seccion Carrito de compras
.lastRow{
    div{
        a{
            width: 50%;
            height: 10%;
            margin: 2%;
            text-align: center;
            text-decoration: none;
            color: $morado;
            font-size: x-large;
            font-weight: bolder;
            letter-spacing: 0.2rem;
        }    
    }
}