/*Detalles gráficos
colores HEXA:
    coral: #FF7F50
    moccasin: #FFDEB5
    morado: oscuro #470147
    blanco: #FFFAFA
*/
// COLORES
$morado: #470147;
$coral: #FF7F50;
$mocasin: #FFDEB5;
$snow: #FFFAFA;