// FUNCIONES
// Mixins 

// Función básica
@mixin medidasGlobal ($widthG, $heightG) {
    width: $widthG;
    height: $heightG;
}

@mixin displayFlex ($displayF, $directionF, $wrapF, $alignIF, $justifyCF) {
    display: $displayF;
    flex-direction: $directionF;
    flex-wrap: $wrapF;
    align-items: $alignIF;
    justify-content: $justifyCF;
}

// Se ejecuta en las secciones Carrito / Hombres / Mujeres
// Ajustes Boton + Enlaces
@mixin settingsBtnEns ($widthSett, $heightSett, $marginSett, $colorSett){
    width: $widthSett;
    height: $heightSett;
    margin: $marginSett;
    color: $colorSett;
}
