/* Detalles gráficos

tipografías:
    font-family: 'Righteous', cursive
    font-family: 'Kanit', sans-serif
*/

@font-face {
    font-family: Righteous;
    src: url(../assets/fonts/Righteous-Regular.ttf); 
}
@font-face {
    font-family: Kanit;
    src: url(../assets/fonts/Kanit-Italic.ttf);
}

// Variables TIPOGRAFIA
$Righteous: Righteous;
$Kanit: Kanit;


// H1 -- Titulo Empresa
.tituloEmpresa{
    margin: 1% 2%;
    font-size: 4.5rem;
    color: map-get($stylesFont, colorM) 
}
h2, h4{
    color: map-get($stylesFont, colorM);
    width: 100%;
    padding: 1%;
}
// PARRAFO
p{
    padding: 2%;
    width: 100%;
    letter-spacing:  map-get($stylesFont, letterSpaceSmall);
    font-weight: map-get($stylesFont, fontWeight);
    text-align: justify;
    font-size: 1rem;
}
//Seccion Hombres y mujeres
.shirt__info{
    p{
        color: map-get($stylesFont, colorM);
    }
}
// seccion carrito
.shopping{
    @include displayFlex (flex, row, wrap, center, center);
    color: map-get($stylesFont, colorM);
    font-size: 2.5rem;
}
.secondRow{
    h3{
        font-size: large;
        letter-spacing:  map-get($stylesFont, letterSpaceXS);
    }
}
.sellRow{
    div{
        form{
            input{
                width: 30%;
                text-align: map-get($stylesFont, textCentro);
                background-color: map-get($stylesFont, colorM);
                color: map-get($stylesFont, colorS);
            }
        }
        p{
            font-size: large;
            font-weight: map-get($stylesFont, fontWeight);
            letter-spacing: map-get($stylesFont, letterSpaceSmall);
        }
    }
}
.buying{
    h4{
        width: 83%;
        align-items: map-get($stylesFont, textCentro);
        margin-left: 2%;
        font-size: large;
        text-transform: uppercase;
        letter-spacing:  map-get($stylesFont, letterSpaceSmall);
    }
}
.purchase{
    .purchase__total{
        font-size: xx-large;
        font-weight: map-get($stylesFont, fontBolder);
        letter-spacing:  map-get($stylesFont, letterSpaceXS);
        width: auto;
        text-align: map-get($stylesFont, textRight);
        margin: 1%;
    }
    .purchase__selling{
        font-size: x-large;
        font-weight: map-get($stylesFont, fontBolder);
        letter-spacing:  map-get($stylesFont, letterSpaceSmall);
        width: auto;
        text-align: map-get($stylesFont, textRight);
    }
}
//FOOTER 
footer{
    p{
        font-family: $Kanit;
        color: map-get($stylesFont, colorS);
        font-weight: map-get($stylesFont, fontLighter);
    }
}
