/* Detalles gráficos 
tipografías:
    font-family: 'Righteous', cursive
    font-family: 'Kanit', sans-serif
*/
/* | TIPOGRAFÍA | */
@font-face {
    font-family: Righteous;
    src: url(../assets/fonts/Righteous-Regular.ttf); 
    font-display: fallback;
}
@font-face {
    font-family: Kanit;
    src: url(../assets/fonts/Kanit-Italic.ttf);
    font-display: fallback;
}
// Variables TIPOGRAFIA
$Righteous: Righteous;
$Kanit: Kanit;
// H1 -- Titulo Empresa
.tituloEmpresa{
    margin: 1% 2%;
    font-size: map-get($sizeFont, titleBig);
    color: $morado; 
}
h2{
    color: $morado;
    width: $sizeMax;
    padding: map-get($styleBoxs, onePercent);
}
h4{
    @extend h2;
}
// PARRAFO
p{
    padding: map-get($styleBoxs, twoPercent);
    width: $sizeMax;
    letter-spacing:  map-get($stylesFont, letterSpaceSmall);
    font-weight: map-get($stylesFont, fontWeight);
    text-align: map-get($stylesFont, textJustify);
    font-size: map-get($sizeFont, mediumV);
}
//Seccion Hombres y mujeres
.shirt__info{
    p{
        color: map-get($stylesFont, colorM);
        letter-spacing: map-get($stylesFont, letterSpaceXS);
        &:last-of-type{
            text-align: map-get($stylesFont, textCentro);
        }
    }
}
// seccion carrito
.shoppingT{
    @include displayFlex (flex, row, wrap, center, center);
    font-size: map-get($sizeFont, titleMedium);
    text-transform: map-get($sizeFont, uppercaseV);
    letter-spacing: map-get($stylesFont, letterSpaceSmall);
}
.secondRow{
    h3{
        font-size: map-get($sizeFont, largeV);
        letter-spacing:  map-get($stylesFont, letterSpaceXS);
    }
}
.sellRow{
    div{
        form{
            input{
                width: $sizeHalf;
                text-align: map-get($stylesFont, textCentro);
                background-color: $morado;
                color: $snow;
            }
        }
        p{
            width: auto;
            font-size: map-get($sizeFont, largeV);
            font-weight: map-get($stylesFont, fontWeight);
            letter-spacing: map-get($stylesFont, letterSpaceXS);
        }
    }
}
.buying{
    h4{
        width: $sizeBig;
        align-items: map-get($stylesFont, textCentro);
        margin-left: map-get($styleBoxs, twoPercent);
        font-size: map-get($sizeFont, largeV);
        text-transform: map-get($sizeFont, uppercaseV);
        letter-spacing:  map-get($stylesFont, letterSpaceSmall);
    }
}
.purchase{
    .purchase__total{
        font-size: map-get($sizeFont, xxlargeV);
        font-weight: map-get($stylesFont, fontBolder);
        letter-spacing:  map-get($stylesFont, letterSpaceXS);
        width: auto;
        text-align: map-get($stylesFont, textRight);
        margin: map-get($styleBoxs, onePercent);
    }
    .purchase__selling{
        font-size: map-get($sizeFont, xlargeV);
        font-weight: map-get($stylesFont, fontBolder);
        letter-spacing:  map-get($stylesFont, letterSpaceSmall);
        width: auto;
        text-align: map-get($stylesFont, textRight);
    }
}
//FOOTER 
footer{
    p{
        font-family: $Kanit;
        color: $snow;
        font-weight: map-get($stylesFont, fontLighter);
    }
}
