/*  VARIABLES  */

// Logo empresa

$widthLogo: 60px;
$heightLogo: 60px;

$widthLogoSmall: 48px;
$heightLogoSmall: 48px;

$widthLogoXS: 30px;
$heightLogoXS: 30px;


// Imágenes

$widthImageBig: 220px;
$heightImageBig: 220px;

$widthImageMedium: 160px;
$heightImageMedium: 160px;

$widthImgSmall: 100px;
$heightImgSmall: 100px;