/* | BOTONES | */
// Botones
.btnGeneral{
    background-color: $morado;
    color: $snow;
    font-size:  $remOne;
    border-radius: 0.5rem;
    padding: map-get($styleBoxs,halfPercent);
    &:hover{
        background-color: $coral;
        color: $morado;
        border-color: $mocasin;
        box-shadow: map-get($styleBoxs,shadowBoxMorado);
        border-radius: 0.7rem;
    }
}
// AFECTA SECCIONES HOMBRES Y MUJERES
.listaTalles{
    @extend .btnGeneral;
    text-align: center;
}
.upBtn{
    @include marginAndPadding (map-get($styleBoxs, onePercent), map-get($styleBoxs, threePercent));
    text-align:  map-get($stylesFont, textCentro);
    svg{
        &:hover{
        transform: scale(1.8);
        }
    }
}
// AFECTA A CARRITO
.buying__a{
    @include settingsBtnEns ($sizeSixty, $sizeFift, 1% 2%, $morado);
    text-align:  map-get($stylesFont, textCentro);
    text-decoration: none;
    font-size: map-get($sizeFont, largeV);
    font-weight:  map-get($stylesFont, fontBolder);
    letter-spacing:  map-get($stylesFont, letterSpaceSmall);
}
//AFECTA CONTACTOS
.btnCajita{
    @include medidasGlobal ($sizeMax, $sizeMax);
    @include displayFlex (flex, row, nowrap, center, space-around);
}
