/* | BOTONES | */
// AFECTA NAV
.btnNav{
    width: $sizeSmall;
    text-transform: map-get($sizeFont, uppercaseV);
    font-weight:  map-get($stylesFont, fontBolder);
    letter-spacing:  map-get($stylesFont, letterSpaceSmall);
}
// AFECTA SECCIONES HOMBRES Y MUJERES
.btnCompras{
    @include settingsBtnEns ($sizeCuarter, $sizeCuarter, 1%, $snow);
    padding: 0.6%;
    background-color: $morado;
    font-size:  map-get($stylesFont, letterSpaceBig);
    text-align:  map-get($stylesFont, textCentro);
}
.listaTalles{
    @extend .btnCompras;
}
.upBtn{
    @include marginAndPadding (map-get($styleBoxs, onePercent), map-get($styleBoxs, threePercent));
    text-align:  map-get($stylesFont, textCentro);
    svg{
        &:hover{
        transform: scale(1.7);
        }
    }
}
// AFECTA A CARRITO
.buying__a{
    @include settingsBtnEns ($sizeSixty, $sizeFift, 1% 2%, $morado);
    text-align:  map-get($stylesFont, textCentro);
    text-decoration: none;
    font-size: map-get($sizeFont, largeV);
    font-weight:  map-get($stylesFont, fontBolder);
    letter-spacing:  map-get($stylesFont, letterSpaceSmall);
}
.purchase__btn{
    @include settingsBtnEns (auto, $sizeFift, 2%, $snow);
    background-color: $morado;
}
//AFECTA CONTACTOS
.btnCajita{
    @include medidasGlobal ($sizeMax, $sizeMax);
    @include displayFlex (flex, row, nowrap, center, space-around);
}
