/* | BOTONES | */
// Botones
.btnGeneral {
    background-color: $morado;
    border-radius: $remHalf;
    padding: map-get($styleBoxs, halfPercent);
    font-weight: map-get($stylesFont, fontBolder);
    &:hover {
        background-color: $coral;
        border-color: $mocasin;
        box-shadow: map-get($styleBoxs, shadowBoxMorado);
        cursor: pointer;
    }
}

// AFECTA SECCIONES HOMBRES Y MUJERES
.filtroFondo{
    background-color: $mocasin;
}
.btnFiltro {
    width: $sizeTenP;
}
.filtroSelect {
    @extend .btnGeneral;
    width: $sizeSixty;
    appearance: none;
    text-align: map-get($stylesFont, textCentro);
    margin-bottom: map-get($styleBoxs, twoPercent);
}
.opcionFiltroTalle{
    cursor: pointer;
    
}
.labelFiltro{
    text-transform: map-get($sizeFont, capiV);
    color: $morado;
}
.upBtn {
    @include marginAndPadding (map-get($styleBoxs, onePercent), map-get($styleBoxs, threePercent));

    svg {
        &:hover {
            transform: scale(1.8);
        }
    }
}
//--- clase para el anchor del carrito ---

.agregarCarrito{
    &:hover{
        cursor: pointer;
    }
}

.fondoBoton{
    background-color: $mocasin;
    border: none;
    color: $morado;
}

// AFECTA A CARRITO
.sellRow {
    div {
        form {
            input {
                width: $sizeHalf;
                background-color: $morado;
            }
        }
    }
}

.buying {
    .buying__a {
        @include settingsBtnEns ($sizeSixty, $sizeFift, 1% 2%, $morado);
    }
}