
/* Seccion CARRITO*/
.carrito__fila{
    margin: map-get($styleBoxs, onePercent);
    padding: 2%;
    height: 7rem;
}
.secondRow{
    height: 4rem;
}
.sellRow{
    height: 15rem;
}
.lastRow{
    @include medidasGlobal (100%, 20rem);
    @include displayFlex (flex, row, nowrap, center, space-between);
}
.purchase{
    @include medidasGlobal (100%, 100%);
    @include displayFlex (flex, column, wrap, center, space-around);
}
.buying{
    @extend .purchase;
    justify-content: space-evenly;
}
