/* Seccion CARRITO*/
.carrito__fila{
    margin: map-get($styleBoxs, onePercent);
    padding: map-get($styleBoxs, twoPercent);
    height: $remSeven;
}
.secondRow{
    height: $remFour;
    .colItem{
        @include displayFlex (flex, row, nowrap, center, center);
    }
    .colCant{
        @include displayFlex (flex, row, nowrap, center, center);
    }
    .colSbt{
        @include displayFlex (flex, row, nowrap, center, center);
    }
}
.sellRow{
    height: $remSemiBig;
    box-shadow: map-get($styleBoxs, shadowBoxMorado);
    margin: map-get($styleBoxs, margiN);
}
.lastRow{
    @include medidasGlobal ($sizeMax, $remBig);
    @include displayFlex (flex, row, nowrap, center, space-between);
}
.columnA{
    @include displayFlex (flex, row, nowrap, center, space-around);
}
.columnB{
    @include displayFlex (flex, row, nowrap, center, center);
    form{
        @include medidasGlobal (auto, auto);
        @include displayFlex (flex, row, nowrap, center, space-between);
    }
}
.columnC{
    @include displayFlex (flex, row, nowrap, center, center);
}
.purchase{
    @include medidasGlobal ($sizeMax, $sizeMax);
    @include displayFlex (flex, column, wrap, center, space-around);
}
.buying{
    @extend .purchase;
    justify-content: space-evenly;
}
