/* Seccion CARRITO*/
.carrito__fila{
    @include marginAndPadding (map-get($styleBoxs, onePercent),map-get($styleBoxs, twoPercent));
    height: auto;
}
.secondRow{
    height: $remFour;
    .colum-title{
        @include displayFlex (flex, row, nowrap, center, center);
    }
}
.sellRow{
    height: auto;
    box-shadow: map-get($styleBoxs, shadowBoxMorado);
    margin: map-get($styleBoxs, margiN);
 

    .boxCarrito{
        @include displayFlex(flex, row, nowrap, center, space-evenly);
        margin-bottom: map-get($styleBoxs, threePercent);

        .boxCarrito__columnA{
            padding: map-get($styleBoxs, onePercent);
        }
        .boxCarrito__columnB{
            @extend .boxCarrito__columnA;
            width: $sizeSmall;
            height: $sizeSixty;
            @include displayFlex(flex, column, nowrap, center, center);
        }   
        .boxCarrito__columnC{
            @extend .boxCarrito__columnA;
            width: 20%;
        }
    }
}
.lastRow{
    @include medidasGlobal ($sizeMax, $remBig);
    @include displayFlex (flex, row, nowrap, center, space-between);
}
.columnA{
    @include displayFlex (flex, row, nowrap, center, space-around);
}
.columnB{
    @include displayFlex (flex, row, nowrap, center, center);
    form{
        @include medidasGlobal (auto, auto);
        @include displayFlex (flex, row, nowrap, center, space-between);
    }
}
.columnC{
    @include displayFlex (flex, row, nowrap, center, center);
}
.purchase{
    @include medidasGlobal ($sizeMax, $sizeMax);
    @include displayFlex (flex, column, wrap, center, space-around);
}
.buying{
    @extend .purchase;
    justify-content: space-evenly;
}
