/* AFECTA SECCION CONTACTO*/
.contenedor-contacto{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "contacto mapa"
    ;
}
.formContacto{
    grid-area: contacto;
    margin: map-get($styleBoxs, twoPercent);
}
.ubication{
    grid-area: mapa;
    @include displayFlex(flex, row, wrap, center, center);
    margin: map-get($styleBoxs, threePercent);
}
.ubication__map{
    @include medidasGlobal ($sizeMax,$sizeMax);
    box-shadow: map-get($styleBoxs, shadowIndex);
}
.boxContact{
    margin: map-get($styleBoxs, onePercent);
    @include displayFlex(flex, column, wrap, center, center);
    input{
        width: $sizeHalf;
        margin: map-get($styleBoxs, halfPercent);
    }
    select{
        @extend input;
    }
    textarea{
        @extend input;
        width: $sizeBig;
    }
}
.btnCajita{
    margin: map-get($styleBoxs, onePercent);
    width: $sizeMax;
    @include displayFlex (flex, row, wrap, center, space-around);
    input{
        width: $sizeFift;
    }
}