/* AFECTA SECCION CONTACTO*/
.formContacto{
    margin: map-get($styleBoxs, onePercent);
}
.rowContact{
    div{
        article{
            margin: map-get($styleBoxs, twoPercent);
        }
    }
}
.message{
    textarea{
        font-weight: map-get($stylesFont, fontWeight);
        font-variant-caps: map-get($sizeFont, petiteCapsV);
        letter-spacing: map-get($stylesFont, letterSpaceXS);
    }
}
.ubication{
    text-align: map-get($stylesFont, textCentro);
    margin: map-get($styleBoxs, fivePercent);
}