/* | IMAGENES | */
// AFECTA HEADER
.logoEmpresa{
    @include medidasGlobal ($sizeLogoB, $sizeLogoB);
}
// AFECTA SECCION INDEX
.cont-img{
    position: relative;
    display: flex;
    justify-content: center;
}
.imgSize{
    width: $indexWidth;
    height: $indexHeight;
    box-shadow: map-get($styleBoxs, shadowIndex)
}
.cont-img__h{
    width: $sizeBig;
    height: auto;
    position: absolute;
    top: $sizeSev;
    display: flex;
    flex-direction: column;
    h2{
        @include linkStyles ($sizeLogoM, map-get($sizeFont, uppercaseV), $coral);
        &:hover{
            color: $mocasin;
        }
    }
    p{
        @include linkStyles (map-get($sizeFont, twoRem), map-get($sizeFont, petiteCapsV), $snow);
        text-align: end;
    }
}
.cont-img__m{
    @extend .cont-img__h;
    p{
        color: $morado;
    }
}
// AFECTA SECCIONES HOMBRES Y MUJERES
.imgRopa{
    @include medidasGlobal($sizeImgB, $sizeImgB);
    &:hover{
        transform: scale(1.7);
    }
}
// AFECTA SECCION  CARRO DE COMPRAS
.sellRow{
    div{
        img{
            @include medidasGlobal($sizeImgM, $sizeImgM);
        }
    }
}
// AFECTA CONTACTOS
.ubication__map{
    margin: map-get($styleBoxs, threePercent);
    width: $sizeSixty;
    height: $sizeImgB;
}