/*AFECTA SECCION INDEX*/
.imageBox{
    padding: map-get($styleBoxs, twoPercent);
    @include displayFlex (flex, column, wrap, center, center);
}
.articleMan{
    padding: map-get($styleBoxs, onePercent);
}
.articleWoman{
    @extend .articleMan;
}
.aside-carl__cont-img{
    box-shadow: 0 5px 15px 0 $black;
    margin-bottom: map-get($styleBoxs, threePercent);
    div{
        img{
            object-fit: scale-down;
            height: 45vh;
            width: $sizeMax;
        }
    }
}