/* | LOGOS | */
// HEADER
.logoCompra{
    margin: map-get($styleBoxs, fivePercent);
    animation: desaparecer 4s;
}
.logoEmpresa{
    border-radius: $sizeHalf;
    margin: map-get($styleBoxs, fivePercent);
}
// FOOTER
.socialMedia{
    a{
        margin: map-get($styleBoxs, onePercent);
        text-decoration: none;
    }
    svg{
        &:hover{
            transform: scale(2);
        }
    }
}
.payment{
    img{
        margin-right: map-get($styleBoxs, halfPercent);
    }
}