/* AFECTA SECCIONES HOMBRES Y MUJERES */
.rowFilter{
    @include displayFlex(flex, row, nowrap, center, end);
    margin: map-get($styleBoxs, onePercent);
    form{
        @include displayFlex(flex, row, wrap, center, space-evenly);
        article{
            box-shadow: map-get($styleBoxs, shadowBoxCoral);
            @include medidasGlobal($sizeFortyFive, $sizeMax);
            margin: map-get($styleBoxs, onePercent);
            @include displayFlex(flex, row, wrap, center, space-evenly);
        }
    }
}

.rowShirts{
    margin: map-get($styleBoxs, margiN);
    box-shadow: map-get($styleBoxs, shadowBoxCoral);
}
.shirt{
    @include displayFlex (flex, row, nowrap, center, space-around);
    @include marginAndPadding (map-get($styleBoxs, threePercent),map-get($styleBoxs, onePercent));
}
.shirt__info{
    width: $sizeMax;
    padding: map-get($styleBoxs, onePercent);
    @include displayFlex (flex, column, wrap, center, flex-start);
    form{
        width: $sizeMax;
        margin-left:  map-get($styleBoxs, threePercent);
        @include displayFlex (flex, row, wrap, center, space-evenly);
    }
}

