/* ESTRUCTURAS GLOBALES */
// BODY
body{
    overflow-x: hidden;
    background-color: $mocasin;
    height: auto;
}
// HEADER
header{
    background-color: $coral; 
}
.backg-nav{
    background-color: $coral;
}
.boxHeader{
    @include displayFlex (flex, row, nowrap, center, center);
}
// FOOTER
footer{
    background-color: $morado;
    bottom: $zero;
    margin-top: auto;
}
.delivery{
    margin: map-get($styleBoxs, bigMargin);
}
.createdBy{
    @extend .delivery;
}
.socialMedia{
    @extend .delivery;
}
.payment{
    @extend .delivery;
}