/* ESTRUCTURAS GLOBALES */

// BODY
body{
    font-size: $remOne;
    overflow-x: hidden;
    font-family: $Righteous, sans-serif;
    background-color: $mocasin;
}
// HEADER
header{
    background-color: $coral; 
}
.backg-nav{
    background-color: $coral;
}
.titleBox{
    @include displayFlex (flex, row, nowrap, center, center);
}
.logoBox{
    @extend .titleBox;
}
// FOOTER
footer{
    background-color: $morado;
    bottom: $zero;
    margin-top: auto;
}
.delivery{
    text-align: map-get($stylesFont, textCentro);
    margin: 5% 2%;
}
.createdBy{
    @extend .delivery;
}
.socialMedia{
    @extend .delivery;
}
.payment{
    @extend .delivery;
}
