/*Detalles gráficos

colores HEXA:
    coral #FF7F50
    moccasin #FFDEB5
    morado oscuro #470147
    blanco #FFFAFA
*/

// Colores de FONDO

$morado: #470147;
$coral: #FF7F50;
$mocasin: #FFDEB5;

// Colores de LETRAS

$morado: #470147;
$snow: #FFFAFA;

// Colores de BORDE

$morado: #470147;