/* Detalles gráficos

tipografías:
    font-family: 'Righteous', cursive;
    font-family: 'Kanit', sans-serif;
*/

@font-face {
    font-family: Righteous;
    src: url(../assets/fonts/Righteous-Regular.ttf); 
}
@font-face {
    font-family: Kanit;
    src: url(../assets/fonts/Kanit-Italic.ttf);
}

// Variables TIPOGRAFIA
$Righteous: Righteous;
$Kanit: Kanit;


// H1 -- Titulo Empresa
.tituloEmpresa{
    margin-left: 2%;
    font-size: 4.5rem;
    color: $morado; 
}
h2, h4{
    color: $morado;
    width: 100%;
    padding: 1%;
}
// PARRAFO
p{
    padding: 2%;
    width: 100%;
    letter-spacing: 25%;
    font-weight: bold;
    text-align: justify;
    font-size: 1rem;
}
//Seccion Hombres y mujeres
.shirt__info{
    p{
        color: $morado;
    }
}
// seccion carrito
.shopping{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $morado;
    font-size: 2.5rem;
}
.secondRow{
    h3{
        font-size: large;
        letter-spacing: 0.1rem;
    }
}
.sellRow{
    div{
        form{
            input{
                width: 30%;
                text-align: center;
                background-color: $morado;
                color: $snow;
            }
        }
        p{
            font-size: large;
            font-weight: bold;
            letter-spacing: 0.2rem;
        }
    }
}
.buying{
    h4{
        width: 83%;
        align-items: center;
        margin-left: 2%;
        font-size: x-large;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
}
.purchase{
    .purchase__total{
        font-size: xx-large;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        width: 50%;
        text-align: right;
        margin: 1%;
    }
    .purchase__selling{
        font-size: x-large;
        font-weight: bolder;
        letter-spacing: 0.2rem;
        width: 40%;
        text-align: right;
    }
}
//FOOTER 
footer{
    p{
        color: $snow;
        font-weight: lighter;
    }
}
