/* AFECTA SECCION CONTACTO*/
.formContacto{
    margin: 1%;
}
.rowContact{
    div{
        article{
            margin: 2%;
        }
    }
}
.message{
    textarea{
        font-weight: bold;
        font-variant-caps: petite-caps;
        letter-spacing: 1px;
    }
}
.ubication{
    text-align: center;
    margin: 5%;
}