/* AFECTA SECCION CONTACTO*/
.formContacto{
    margin: map-get($styleBoxs, onePercent);
}
.rowContact{
    div{
        article{
            margin: 2%;
        }
    }
}
.message{
    textarea{
        font-weight: map-get($stylesFont, fontWeight);
        font-variant-caps: petite-caps;
        letter-spacing: map-get($stylesFont, letterSpaceXS);
    }
}
.ubication{
    text-align: map-get($styleBoxs, textCentro);
    margin: 5%;
}