/* AFECTA  IMAGENES */
// AFECTA SECCION INDEX
.imagenHombre{
    margin: 2%;
    &:hover{
        animation: lateralH 3s;
        animation-delay: 2s;
    }
}
@keyframes lateralH{
    25%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.2);
        border: $coral 1rem double;
    }
    75%{
        transform: translateX(100px);
    }
}
.imagenMujer{
    margin: 2%;
    &:hover{
        animation: lateralM 3s;
        animation-delay: 2s;
    }
}
@keyframes lateralM{
    25%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.2);
        border: $morado 1.2rem double;
    }
    75%{
        transform: translateX(-100px);
    }
}

// AFECTA SECCIONES HOMBRES Y MUJERES
.imgRopa{
    width: 220px;
    height: 220px;
    &:hover{
        transform: scale(1.7);
    }
}

// AFECTA SECCION  CARRO DE COMPRAS
.sellRow{
    div{
        img{
            width: 160px;
            height: 160px;
        }
    }
}