/* AFECTA SECCIONES HOMBRES Y MUJERES */

.rowShirts{
    margin: map-get($styleBoxs, margiN);
    box-shadow: 0 0 0.3rem $coral;
}
.shirt{
    @include displayFlex (flex, row, nowrap, center, space-around);
    margin: 4%;
    padding: map-get($styleBoxs, onePercent);
}
.shirt__info{
    width: 50%;
    padding: 2%;
    @include displayFlex (flex, column, wrap, center, flex-start);
    form{
        width: 100%;
        margin-left:  3%;
        @include displayFlex (flex, row, wrap, center, space-evenly);
    }
}