/* ESTRUCTURAS GLOBALES */

/* BODY */
body{
    overflow-x: hidden;
    font-family: $Righteous, sans-serif;
    background-color: $mocasin;
}
/* HEADER */
header{
    background-color: $coral; 
}
.backg-nav{
    background-color: $coral;
}
.titleBox{
    @include displayFlex (flex, row, nowrap, center, center);
}
.logoBox{
    @extend .titleBox;
}
// NAV deberia ir en tipografias, pero lo dejo aca para mantener cierto orden
/* NAV */
.navbar-nav{
    li{
        a{
            text-transform: uppercase;
            font-weight:  map-get($stylesFont, fontWeight);
            font-size: 1rem;
        }
    }
}
/* FOOTER */
footer{
    background-color: $morado;
    bottom: 0;
    margin-top: auto;
}
.delivery{
    text-align: map-get($stylesFont, textCentro);
    margin: 5% 2%;
}
.createdBy{
    @extend .delivery;
}
.socialMedia{
    @extend .delivery;
}
.payment{
    @extend .delivery;
}

/* FIN ESTRUCTURAS GLOBALES*/